<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:if="${create}">Új foglalás</title>
	<title th:unless="${create}">Foglalás szerkesztése</title>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} " />
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/5.7.2/css/all.css}" />
</head>
<body>
<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Vendégház</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/">Index</a> 
				<a class="nav-item nav-link active" href="/foglalas/">Foglalás<span class="sr-only">(current)</span></a> 
				<a class="nav-item nav-link" href="/foglalasok/">Foglalások</a>
			</div>
		</div>
	</nav>
</div>

<div class="container">
	<form method="post" th:action="@{/foglalas/}">
		<input type="hidden" name="id" th:value="${booking.id}">
			<div class="form-group">
				<label for="exampleInputEmail1">Érkezés</label>
				<input type="text" class="form-control" aria-describedby="arrivalDateHelp" name="arrivalDate" th:field="${booking.arrivalDate}" />
		    	<small id="arrivalDateHelp" class="form-text text-muted">pl.: 2019-01-01</small>
			<div>
		</div>
		
		<div class="form-group">
				<label for="exampleInputEmail1">Távozás</label>
				<input type="text" class="form-control" aria-describedby="leavingDateHelp" name="leavingDate" th:field="${booking.leavingDate}" />
		    	<small id="leavingDateHelp" class="form-text text-muted">pl.: 2019-01-02</small>
			</div>
		</div>
		
		<div class="form-group">
				<label for="exampleInputEmail1">Vezetéknév</label>
				<input type="text" class="form-control" aria-describedby="lastNameHelp" name="lastName" th:value="${booking.lastName}"/>
		    	<small id="lastNameHelp" class="form-text text-muted">pl.: John</small>
		</div>
	
		<div class="form-group">
				<label for="exampleInputEmail1">Keresztnév</label>
				<input type="text" class="form-control" aria-describedby="firstNameHelp" name="firstName" th:value="${booking.firstName}"/>
		    	<small id="firstNameHelp" class="form-text text-muted">pl.: Doe</small>
		</div>
		<button type="submit" class="btn btn-outline-success" th:if="${create}"><i class="fas fa-plus"></i> Lefoglal</button>
		<button type="submit" class="btn btn-outline-warning" th:unless="${create}"><i class="fas fa-edit"></i>  Módosít</button>
	</form>
</div>
</body>
</html>