<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Foglalások</title>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} " />
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/5.7.2/css/all.css}" />
</head>
<body>
<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Vendégház</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/">Index</a> 
				<a class="nav-item nav-link" href="/foglalas/">Foglalás</a> 
				<a class="nav-item nav-link active" href="/foglalasok/">Foglalások<span	class="sr-only">(current)</span></a>
			</div>
		</div>
	</nav>
</div>
<div class="container">
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>Vezetéknév</th>
				<th>Keresztnév</th>
				<th>Érkezés</th>
				<th>Távozás</th>
				<th>Módosít</th>
				<th>Lezár</th>
			</tr>
		</thead>

		<tr th:each="foglalas: ${bookingList}">
			<td>
				<div th:text="${foglalas.lastName}"></div>
			<td>
				<div th:text="${foglalas.firstName}"></div>
			<td>
				<div th:text="${foglalas.arrivalDate}"></div>
			<td>
				<div th:text="${foglalas.leavingDate}"></div>
			<td>
				<a th:href="@{/foglalas/{id}/(id=${foglalas.id})}"><button type="button" class="btn btn-warning"><i class="fas fa-edit"></i> Módosít</button></a>
			<td>
				<form th:action="@{/foglalasok/{id}/lezar(id=${foglalas.id})}"
					method="post">
				<button class="btn btn-success"><i class="fas fa-check"></i> </button>
				</form>
			</td>
		</tr>
	</table>
</div>
</body>
</html>