<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Vendégház</title>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} " />
</head>
<body>
<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Vendégház</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="/">Index<span	class="sr-only">(current)</span></a> 
				<a class="nav-item nav-link" href="/foglalas/">Foglalás</a> 
				<a class="nav-item nav-link" href="/foglalasok/">Foglalások</a>
			</div>
		</div>
	</nav>
</div>
<div class="container">
	<div class="jumbotron">
		<h1 class="display-4">Lorem ipsum!</h1>
		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel nisi aliquam, egestas justo ac, mattis ex. Phasellus quam lectus, lacinia eu porta at, feugiat quis lectus. Etiam congue urna at sollicitudin euismod. Aenean dignissim bibendum justo ac volutpat. Praesent id quam neque. Proin maximus vestibulum aliquet. Nullam euismod rhoncus neque, sit amet accumsan quam euismod quis. Praesent ornare libero nibh, id tincidunt sem molestie non.</p>
		<hr class="my-4">
		<p>Vestibulum rhoncus faucibus tellus nec pellentesque. Quisque faucibus elit non arcu lobortis, ut eleifend libero bibendum.</p>
	</div>
</div>
</body>
</html>